/* основной цвет текста primary  #757575 */
/* вторичный цвет текста secondary #212121 */
/* цвет акцента и для текста logo "Web" #2196F3  */
/* цвет текста, акцент btn-filter #FFFFFF */
/* цвет текста футера tel. and mail  rgba(255, 255, 255, 0.6); */
/* цвет текста header logo "Studio" #000000 */

/* основной цвет фона страниц #FFFFFF */
/* вторичный цвет фона (секция наша команда) #F5F4FA */
/* цвет фона героя и футера #2F303A */

:root {
	--primary-text-color: #757575;
	--secondary-text-color: #212121;
	--primary-white-color: #ffffff;
	--accent-color: #2196f3;
	--logo-text-color: #000000;
	--footer-contacts-color: rgba(255, 255, 255, 0.6);
	--secondary-bg-color: #2f303a;
	--section-bg-color: #f5f4fa;
}

body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);

	font-family: Roboto, sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
}

ul,
a {
	list-style: none;
	text-decoration: none;
}

/* logo header */
.logo {
	color: var(--accent-color);

	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}

.header-logo {
	color: var(--logo-text-color);
}

/* site-nav */
.site-nav .link {
	color: var(--secondary-text-color);

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.site-nav .link.current {
	color: var(--accent-color);
}

/* site-contacts */
.site-contacts .link {
	color: inherit;

	font-weight: 500;
	line-height: 1.4;
	letter-spacing: 0.02em;
}

.site-contacts .link:hover,
.site-contacts .link:focus {
	color: var(--accent-color);
}

/* Hero */
.hero {
	background-color: var(--secondary-bg-color);
	color: var(--primary-white-color);

	letter-spacing: 0.06em;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	text-transform: uppercase;
}

.button.hero {
	background-color: var(--accent-color);
	color: var(--primary-white-color);

	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
}

.button {
	font-family: inherit;
}

/* SECTION */
.section .section-title {
	color: var(--secondary-text-color);
}

.section .caption {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

/* features */
.features .section-title {
	font-weight: 700;
	font-size: inherit;
	line-height: 1.14;
	text-transform: uppercase;
}

.features .section-text {
	font-weight: 400;
	line-height: 1.71;
}

/* team */
.section.team {
	background-color: var(--section-bg-color);
}

.team .section-subtitle {
	color: var(--secondary-text-color);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
}

.team .section-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
}

/* FOOTER */
.footer {
	background-color: var(--secondary-bg-color);
}

/* logo footer */
.footer-logo {
	color: var(--primary-white-color);
}

/* address */
.address {
	font-style: normal;
	font-weight: 400;
	line-height: 1.71;
}

.address-text {
	color: var(--primary-white-color);
}

.address-list .item {
	color: var(--footer-contacts-color);
}

.address-list .item:hover,
.address-list .item:focus {
	color: var(--accent-color);
}

/* Portfolio.html */
.button.filter {
	color: var(--secondary-text-color);

	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	letter-spacing: inherit;
}

.button.filter:hover,
.button.filter:focus {
	background-color: var(--accent-color);
	color: var(--primary-white-color);
}

.porfolio-list .section-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.porfolio-list .text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
}
